<main>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="/rota_aluno/aluno">Alunos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/rota_turma/turma">Turmas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active">Editar Aluno</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <form action="/rota_aluno/aluno/editar_aluno" method="POST">
                            {{#each alunos}}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default" for="descricao">ID:
                                </span>
                                <input type="text" id="id_aluno" name="id_aluno" value="{{id_aluno}}"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" required>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default" for="descricao">Matricula:
                                </span>
                                <input type="text" value="{{matricula}}" id="matricula" name="matricula" 
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" required>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default" for="descricao">Nome:
                                </span>
                                <input type="text" id="nome" name="nome" value="{{nome}}"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" required>
                            </div>
                            {{/each}}

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default" for="descricao">Turma:
                                </span>
                                <select type="text" id="fk_turma" name="fk_turma" class="form-control form-select"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    {{#each turmas}}
                                    <option value="{{id_turma}}">{{descricao}}</option>
                                    {{else}}
                                    <option value="0">Nenhuma turma registrada</option>
                                    {{/each}}
                                </select>
                            </div>


                            <button type="submit" class="btn btn-success">Editar Aluno</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>